body {
  font: 16px Verdana;
}

/***
  id: nested
  title: Square buttons
  section: Buttons
  description: Very pretty square buttons
  example:
    <p>Im a nested include</p>
***/

/***
  id: simple
  title: Square buttons
  section: Buttons
  description: Very pretty square buttons
  example:
    <a href="" class="btn btn-small">button</a>
    <include id="nested">
    <a href="" class="btn btn-medium">button</a>
    <a href="" class="btn btn-large">button</a>
***/

.btn{
  display: inline-block;
  padding: .3em .6em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: darkslateblue;
}
.btn:hover{
  background-color: #38306E;
}
.btn-small{
  font-size: .8em;
}
.btn-medium{
  font-size: 1em;
}
.btn-large{
  font-size: 1.3em;
}


/***
  title: Missing include
  section: Buttons
  description: No example available
  example:
    <include id="missing-include">
***/