body {
  font: 18px Verdana;
}

/***
  title: Test
  section: Misc
  example:
    <div class="test">This is a test</div>
    <div class="test">This is another test</div>
***/
.test,
.test2,
.test2[fancy=true] {
  background: blue;
  color: #fff;
}


/***
  title: Another test
  section: Forms - Common
  example: <input type="text" class="test">
***/
input.test {
  background: green;
}


/***
  title: Labels
  section: Forms - Common
  description: |
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac diam
    interdum augue blandit eleifend. Donec egestas, augue nec malesuada ullamcorper,
     sapien urna sollicitudin tellus, vel **mattis ligula** leo id mi. In sodales ante
     sollicitudin, varius metus id, varius nunc. Aenean rhoncus nisl a quam eleifend,
     vitae volutpat erat vulputate. Nullam scelerisque elit sit amet massa egestas,
      eu adipiscing lorem porttitor.
  example:
    <label class="test">This is a test</label>
***/
label.test {
  background: yellow;
}



/***
  title: Lists
  section: Misc
  description: |
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac diam
    interdum augue blandit eleifend. Donec egestas, augue nec malesuada ullamcorper,
     sapien urna sollicitudin tellus, vel **mattis ligula** leo id mi. In sodales ante
     sollicitudin, varius metus id, varius nunc. Aenean rhoncus nisl a quam eleifend,
     vitae volutpat erat vulputate. Nullam scelerisque elit sit amet massa egestas,
      eu adipiscing lorem porttitor.
  example:
    - <ul class="list">
    - &li <li class="list-item">listitem</li>
    - *li
    - *li
    - *li
    - *li
    - *li
    - </ul>
***/
.list{
  border: 1px solid red;
}
.list-item {
  color: red;
}