body {
  font: 16px Verdana;
}

/***
  title: Title A
  section: Section C (file 1)
***/


/***
  title: Title B
  section: Section B (file 1)
***/


/***
  title: Title C
  section: Section A (file 1)
***/
